[submodule "deno_third_party"]
	path = third_party
	url = https://github.com/denoland/deno_third_party.git
	shallow = true
[submodule "test_util/std"]
	path = test_util/std
	url = https://github.com/denoland/deno_std
	shallow = true
[submodule "test_util/wpt"]
	path = test_util/wpt
	url = https://github.com/web-platform-tests/wpt.git
[submodule "ext/landlock"]
	path = ext/landlock
	url = git@github.com:landlock-lsm/rust-landlock.git
[submodule "dmng"]
	path = dmng
	url = git@github.com:unibg-seclab/dmng.git
